beautifulsoup4==4.4.1
bleach==1.5.0
Brlapi==0.6.4
chardet==2.3.0
command-not-found==0.3
cycler==0.10.0
decorator==4.1.2
defer==1.0.6
enum34==1.1.6
html5lib==0.9999999
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Markdown==2.6.9
matplotlib==2.1.0
nltk==3.2.5
numpy==1.13.3
onboard==1.2.0
opencv-python==3.3.0.10
parso==0.1.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
prompt-toolkit==1.0.15
protobuf==3.15.0
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.2.0
python-apt===1.1.0.b1-elementary2-ubuntu16.04.1
python-dateutil==2.6.1
python-debian==0.1.27
python-systemd==231
pytz==2017.3
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
scikit-learn==0.19.1
scipy==1.0.0
selenium==3.7.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
ssh-import-id==5.5
system-service==0.3
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc2
traitlets==4.3.2
tweepy==3.5.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
wcwidth==0.1.7
Werkzeug==0.12.2
xkit==0.0.0
